<style>
.logo{
    margin: 3px;
    display: flex;
    justify-content: right;
}
#r{
    padding: 3px;
    background-color: rgb(255, 84, 22);
    border: 1px solid black;
    border-radius: 6px;
}
#j{
    padding: 5px;
    background-color: white;
    color: blue;
    border: 1px solid black;
    border-radius: 6px;

}
#t{
    padding: 3px;
    background-color: rgb(50, 238, 50);
    border: 1px solid black;
    border-radius: 6px;

}
sup{
    margin-right: 3px;
}

</style>

<span class="logo"><sup>By</sup><span id="r">R</span><span id="j">J</span><span id="t">T</span></span>


<h1>New Employee Registration by <span style="color: orangered; font-size: 35px;">RJT Pvt.Ltd.</span></h1>
<br><br>
<span style="color: red; font-size: 25px;">{{welcomemessage}}</span>