<form>
    <input name="no1" placeholder="Enter First Number" value="{{no1}}">
    <input name="no2" placeholder="Enter Second Number" value="{{no2}}">
    <input name="answer" value="{{answer}}" >
    <input type="submit" name="op" value="addition" formaction="/calciapp/result">
    <input type="submit" name="op" value="sub" formaction="/calciapp/result">
    <input type="submit" name="op" value="mul" formaction="/calciapp/result">
    <input type="submit" name="op" value="div" formaction="/calciapp/result">

</form>